@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light dark;
}
main{
    max-width: 1280px;
    margin: auto;
    /* min-height: 90vh; */
    padding: 10px;
}